<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hard Skills</title>
</head>
<body>

  <div class="centraliza-combo">
    <h1>HARD SKILLS</h1>

    <select id="hardcombo">
        <option value="">HARD SKILL</option>
        <option value="hard_skill_1"></option>
    </select>

    <select id="hardcombo">
        <option value="">HARD SKILL</option>
        <option value="hard_skill_1"></option>
    </select>
    <select id="hardcombo">
        <option value="">HARD SKILL</option>
        <option value="hard_skill_1"></option>
    </select>
    <div class="btn">
     <a href="perfil"><input type="button" value="VOLTAR" class="btn-adicionar"></a>
     <a href="soft-skill"><input type="button" value="ENVIAR" class="btn-enviar"></a>
     </div>
    </div>


</body>
</html>
