<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificado</title>
</head>
<body>

  <div class="certificado-div">
    <h1 class="h1-certificado">Certificados</h1>

 <form class="form-certificado">
    <div class="form-group">
      <label for="nome_certificado">Certificado:</label>
      <input type="text" id="certificado" placeholder="Nome do Certificado" />
    </div>
    <div class="form-group">
      <label for="inicio">Início:</label>
      <input type="date" id="inicio" placeholder="dd/mm/aaaa" />
    </div>
    <div class="form-group">
      <label for="fim">Fim:</label>
      <input type="date" id="fim" placeholder="dd/mm/aaaa" />
    </div>
    <div class="form-group">
      <label for="instituição">Instituição:</label>
      <input type="text" id="instituição" placeholder="Instituição" />
    </div>
    <div class="form-btn">
     <a href="soft-skill"><input type="button" VALUE="Voltar" id="btn"></a>
    <a href="perfil"><input type="button" VALUE="Enviar" id="btn"></a>
    </div>

  </form>

  </div>

</body>
</html>
