<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Diretor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/footer/styles.css}" rel="stylesheet"/>
    <link th:href="@{/tema/tema.css}" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #myChart {
            width: 100% !important;   /* ocupa toda largura do card */
            height: 500px !important; /* altura maior */
        }
    </style>
</head>
<body >
    <header id="header">
    <div th:insert="fragments/header :: cabecalho-principal"></div>
</header>
<div class="switch">
    <label class="form-check-label text-white"></label>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="toggleMode">
    </div>
    <label class="form-check-label"></label>
</div>

<div class="container mt-7">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Card Bootstrap -->
            <div class="card card-body">
                <div class="card-header bg-dark text-white">
                    Dashboard - Hardskill
                </div>
                <div class="card-body">
                    <canvas id="myChart" ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



    <script th:inline="javascript">

        var labels = [[${labels}]];
        var values = [[${values}]];

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Quantidade',
                    data: values,
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    barThickness: 50,
                    maxBarThickness: 50
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: { barPercentage: 1 },
                    y: {
                        beginAtZero: true,
                        ticks: { stepSize: 1.0 }
                    }
                },
                onClick: function(evt, elements) {
                    if (elements.length > 0) {
                        var index = elements[0].index;
                        var skill = this.data.labels[index];


                        window.location.href = "/diretor/listar-usuarios?skill=" + skill;
                    }
                }
            }
        });

    </script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/script/script.js}"></script>

</body>
</html>
