<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSkill | Login</title>

</head>
<body>
            <h1 class="h1-dataskill">DATASKILL</h1>
            <img [src]="logodataskill" width="100" class="logo-dataskill">

    <div class="bloco2-login">
        <h1>Login</h1>
            <form class="forms-cadastrar">
                <input type="email" name="email" class="input-cad" placeholder="Email">
                <input type="password" name="password" class="input-cad" placeholder="Senha">
                <p class="msg-cad">Não possui uma conta? <a href="/cadastro">Cadastro</a></p>
                <div class="btn-login"><a href="index.html"><input type="button" class="btn-login-input" value="CANCELAR"></a><input type="button" class="btn-login-input" value="ENVIAR"></div>
            </form>

    </div>
</body>
</html>
