<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSkill | Perfil</title>

</head>
<body>

    <!-- Menu -->
    <div class="menu">
        <a href="#">Perfil</a>
        <a href="#">Dashboard</a>
    </div>

   <!-- Cabeçalho com avatar -->
  <div class="profile-header">
        <h2 class="nome">Nome do Colaborador</h2>
        <p class="departamento">Departamento do colaborador</p>
    </div>

    <!-- Bloco de competências flex -->
    <div class="flex-comp">

    <div class="bloco-hard">

        <h1 class="h1-competencias">Hard Skills</h1>
        <p id="list-hard">JAVA </p>

    </div>

    <div class="bloco-soft">
        <h1 class="h1-competencias">Soft Skills</h1>
        <p id="list-soft">Comunicação</p>

    </div>

     <div class="bloco-experiencia">

        <h1 class="h1-competencias">Experiências</h1>
        <h3 id="empresa-anterior">Empresa Anterior</h3>
        <div class="alinhar-datas">
        <p id="data-inicio-experiencia">data-inicio</p>
        <p> -</p>
        <p id="data-fim-experiencia">data-fim</p>
        </div>

    </div>

    <div class="bloco-certificado">

         <div class="certificado">
        <h1 class="h1-competencias">Certificados</h1>
        <h3 id="certificado-instituicao">Bradesco</h3>
        <p id="descricao-certificado">Programacao POO</p>
        <!-- Alinha as datas flex-->
        <div class="alinhar-datas">
        <p id="data-inicio">12/08/2025</p>
        <p> -</p>
        <p id="data-fim">15/08/2025</p>
        </div>
         </div>

    </div>
    </div>


    <!-- Bloco de Auto-Avaliação -->
     <div class="bloco-auto-aval">

        <!-- Competências -->
        <h1 class="h1-competencias">Auto Avaliação</h1>
        <p id="descricao-auto-avalia">descricao do usuário</p>
    </div>
    <div class="centralizar-btn">
    <a href="hard-skill"><input type="button" class="btn-alterar-perfil" value="ALTERAR PERFIL"></a>
    </div>

</body>
</html>

