<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSkill | Cadastrar</title>
</head>
<body>
            <h1 class="h1-bem-vindo">BEM-VINDO<br>AO DATA-SKILL</h1>
        <div class="bloco2">
            <h1>Cadastrar</h1>
            <form class="forms-cadastrar">
                <input type="name" name="name" class="input-cad" placeholder="Nome">
                <input type="email" name="email" class="input-cad" placeholder="Email">
                <input type="password" name="password" class="input-cad" placeholder="Senha">
                <p class="msg-cad">Já possui uma conta?<a href="/login"> Login</a></p>
                <div class="btn-cadastrar"><a href="index.html"><input type="button" class="btn-input" value="CANCELAR"></a><input type="button" class="btn-input" value="ENVIAR"></div>
            </form>
        </div>
</body>
</html>
