body{
  background-color: #043259;
  height: 100%;
  width: 100vw;
}

a{
  color: white;
  text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: #043259;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    gap: 10px;
    font-weight: bold;
}

h1{
  padding-top: 8%;
  text-align: center;
  color: white;
  font-size: 40px;
}

form{
  margin: auto;
  padding-top: 2%;
  width: 30%;
  text-align: center;
}

input{
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
}

input[type = "button"]{
  width: 20%;
  margin-left: 20px;
}

table{
  margin: 2% auto;
  width: 70%;
}

select{
  width: 100%;
  padding: 13px;
  margin-bottom: 20px;
}

table thead{
  background-color: white;
}


