<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="menu">
        <a href="perfil">Perfil</a>
        <a href="#">Dashboard</a>
    </div>

  <h1>Cadastrar os Colaboradores</h1>
<form>
<input type="text" placeholder="Nome" class="form-control" name="nome" [(ngModel)]="colaborador.nome">
<input type="text" placeholder="E-mail" class="form-control" name="email" [(ngModel)]="colaborador.email">
<input type="password" placeholder="Senha" class="form-control" name="senha" [(ngModel)]="colaborador.senha">
<select class="form-control" name="cargo"  [(ngModel)]="colaborador.cargo">
    <option>SUPERVISOR</option>
    <option>COLABORADOR</option>
    <option>DIRETOR</option>
</select>

  <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary" (click)="cadastrar()">
  <input type="button" value="Alterar" *ngIf="!btnCadastro" class="btn btn-warning text-white">
  <input type="button" value="Deletar" *ngIf="!btnCadastro" class="btn btn-danger">
  <input type="button" value="Cancelar" *ngIf="btnCadastro" class="btn btn-secondary">

</form>

  <table class="table table-dark ">
    <thead>
      <tr scope="col">
      <th>*</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Cargo</th>
      <th>Selecionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of colaboradores; index as i" scoped="row">
        <td>{{i+1}}</td>
        <td><a href="perfil">{{c.nome}}</a></td>
        <td>{{c.email}}</td>
        <td>{{c.cargo}}</td>
        <td><button class="btn btn-success">Selecionar</button></td>
      </tr>
    </tbody>
  </table>

  <br><br><br><br><br>
</body>
</html>




