<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soft Skills</title>
</head>
<body>

  <div class="centraliza-combo">
    <h1>SOFT SKILLS</h1>

    <select id="softcombo">
        <option value="">SOFT SKILL</option>
        <option value="hard_skill_1"></option>
    </select>

    <select id="softcombo">
        <option value="">SOFT SKILL</option>
        <option value="hard_skill_1"></option>
    </select>
    <select id="softcombo">
        <option value="">SOFT SKILL</option>
        <option value="hard_skill_1"></option>
    </select>
    <div class="btn">
    <a href="hard-skill"><input type="button" value="VOLTAR" class="btn-adicionar"></a>
     <a href="experiencia"><input type="button" value="ENVIAR" class="btn-enviar"></a>
     </div>
    </div>

</body>
</html>
