 
    body.dark-mode {
      background-color: #1c1c1c;
      color: #f0f0f0;
    }
    .dark-mode .form-control, 
    .dark-mode .btn .form-select{
      background-color: black;
      color: #f0f0f0;
      border: 1px solid #444;
    }
    .dark-mode .form-control::placeholder {
      color: #aaa;
    }
    .dark-mode .btn:hover {
      background-color: #444;
    }
    .dark-mode .card-header {
      background-color: #111;
      border-bottom: 1px solid #444;
      color: #f0f0f0;
    }
    .dark-mode .list-group-item {
      background-color: black;
      border: 1px solid #2c2a2a;
      color: #f0f0f0;
    }
    .dark-mode .list-group-item:hover {
      background-color: #3a3a3a;
    }
     .dark-mode table,
     .dark-mode table-striped {
        background-color: #212529;
        color: #f0f0f0; 
      }
    

   /* light mnode */
    body.light-mode {
      background-color: #f9f9f9;
      color: #1c1c1c;
    }
    .light-mode .form-control, 
    .light-mode .btn .form-select{
      background-color: white;
      color: black;
      border: 1px solid #ccc;
    }
   
   
    .light-mode .form-control::placeholder {
      color: #666;
    }
    .light-mode .btn:hover {
      background-color: #ddd;
    }
    .light-mode .card-header {
      background-color: white;
      border-bottom: 1px solid #ccc;
      color: #1c1c1c;
    }
    .light-mode .list-group-item {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #1c1c1c;
    }
    .light-mode .list-group-item:hover .bi{
      background-color: #f0f0f0;
    }
    .light-mode table {
        background-color: #ffffff;
        color: #212529;
      }

   
    .switch {
      position: fixed;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }